@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
    @include addons;
    @include mytheme;


    
    .WelcomeView {
        background-color: #00A2FF;
    }

    .WelcomeView-frontLayout {
        background-color: white;
        border-style: solid;
        border-width: 2px;
        border-radius: 40px;
        border-color: #000000;
    }

    .WelcomeView-contentLayout {

    }

    .WelcomeView-leftLayout {

    }

    .WelcomeView-centerLayout {
        background-color: #000000;
    }

    .WelcomeView-rightLayout {

    }

    .WelcomeView-leftContentLayout {

    }

    .WelcomeView-pinBoardLogoImage { 
        margin-left: 40px;
        margin-top: -20px;
    }

    .WelcomeView-welcomeTextLabel {
        margin-left: 40px;
        margin-top: 30px;
        font-size: 24px;
        text-align: justify;
    }

    .WelcomeView-loginForm {
        margin-left: 40px;
        margin-top: 58px;
    }

    .MyLoginForm-emailField {
        margin-bottom: 20px;
    }

    .MyLoginForm-passwordField {
        margin-bottom: 30px;
    }

    .MyLoginForm-logInButtonAndWrongPasswordOrEmailLabelLayout {

    }

    .MyLoginForm-logInButton { 
   
    }

    .v-captiontext {
        font-size: 18px;
    }

    .MyLoginForm-wrongPasswordOrEmailLabel {
        margin-left: 20px;
        margin-top: 8px;
        color: red;
    }

    .WelcomeForm-registrationForm {
       margin-left: 40px;
    }

    .MyRegistrationForm-registrationTitleLabel {
        margin-top: 40px;
        font-size: 30px;
        font-weight: bold;
        text-decoration: underline;
    }

    .MyRegistrationForm-registrationTextLabel {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 24px;
        text-align: justify;
    }

    .MyRegistrationForm-nameLayout {

    }

    .MyRegistrationForm-surnameLayout {

    }

    .MyRegistrationForm-mailLayout {

    }

    .MyRegistrationForm-passwordLayout {

    }

    .MyRegistrationForm-signUpLayout {

    }

    .MyRegistrationForm-nameField {
       margin-bottom: 20px;
    }

    .MyRegistrationForm-wrongNameFormatLabel {
        margin-left: -220px;
        margin-top: 2px;
        text-align: right;
        color: red;
    }

    .MyRegistrationForm-surnameField {
        margin-bottom: 20px;
    }

    .MyRegistrationForm-wrongSurnameFormatLabel {
        margin-left: -220px;
        margin-top: 2px;
        text-align: right;
        color: red;
    }

    .MyRegistrationForm-mailField {
        margin-bottom: 20px;
    }

    .MyRegistrationForm-wrongMailFormatLabel {
        margin-left: -220px;
        margin-top: 2px;
        text-align: right;
        color: red;
    }

    .MyRegistrationForm-passwordField {
        margin-bottom: 30px;
    }

    .MyRegistrationForm-wrongPasswordFormatLabel {
        margin-left: -220px;
        margin-top: 2px;
        text-align: right;
        color: red;
    }

    .MyRegistrationForm-signUpButton {

    }

    .MyRegistratnioForm-signUpFailedLabel {
        margin-left: 30px;
        margin-top: 8px;
        color: red;
    }











    .BoardView {
        
    }

    .BoardView-navbarLayout {
        background-color: #0070B3;
       border-bottom: 1px solid black;
    }

    .BoardView-pinBoardLogoImage {
        margin-top: -20px;
        margin-left: 10px;
    }

    .BoardView-userNameLabelAndLogoutButtonLayout {

    }

    .BoardView-userNameLabel {
        text-align: right;
        margin-right: 20px;
        margin-top: 8px;
        font-weight: bold;
    }

    .v-icon {
        margin-left: -16px;
        margin-top: -4px;
        border-bottom: 1px solid black;
    }

    .BoardView-pinBoardPanel {
        background-color: #00A2FF;
        border: 0px;
        border-radius: 0px;
    }

    






    .PinBoardLayout {
        margin-top: 40px;
        margin-left: 40px;
    }

    .PinBoardLayout-pinListPanelContainerLayout {
        margin-right: 20px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
    }

    .AddPinCardLayout {
        margin-bottom: 10px;
    }

    .AddPinCardLayout-clickToAddPinCard {
        text-align: left;
    }

    .PinBoardLayout-pinListNameLabelAndDeletePinListButtonLayout {
        padding-top: 10px;
        border-bottom: 1px solid black;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        background-color: #0070B3;
        margin-bottom: 10px;
    }

    .PinBoardLayout-pinListNameLabel {
        font-weight: bold;
        margin-left: 10px;
        margin-bottom: 10px; //and this works when pinListNameLabel has bigger height than deletePinListButton
    }

    .DeletePinListButton {
        margin-right: 10px;
        margin-bottom: 10px;    //it only works if pinListName consist of one line otherwise it is not needed (and doesnt' work)
    }

    .PinBoardLayout-pinListPanel {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border: 0px;
    }

    .PinBoardLayout-pinCardsOfPinListLayout {
        margin-left: 10px;
    }

    .PinBoardLayout-pinCardNameLabelAndDeletePinCardButtonLayout {
        margin-bottom: 10px;
    }

    .PinBoardLayout-pinCardNameLabel {
    }

    .DeletePinCardButton {

    }



    //that is for scrollbar to be more pretty than standard 
    ::-webkit-scrollbar {
        width: 12px;
    }
 
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
   
}
